# Java 빌드 결과물
target/
build/

# Git 및 설정 파일
.git/
.gitignore

# IDE 설정 파일
*.iml
.idea/
.vscode/
.project
.classpath
.settings/

# 환경 변수 및 민감 정보
.env
*.env
application-*.yml
application-*.properties

# 로그, 임시 파일
*.log
*.tmp
*.swp
*.bak

# Docker 관련 예외 설정
Dockerfile
docker-compose.yml
